<% provide(:title, "About") %>
<h2> About Page </h2> 
	<p>
		<b>AddVenture</b> is a project started in May 2016 by Monique Mezher, who at the time had a little to much stress on her plate and not enough adventure to taste. 

		Monique is currently working on AddVenture on weekends and in her spare time between her Computer Science and Materials Science Engineering classes at the University of Virginia. Her goal is to create a dynamically changing road trip service, able to account for future users adventures and locations recommended by National Park Services, restaurants, and different hole-in-the-wall legends. 

		To do this, Monique is currently working on adding implementation to the Google Map gem. Don't worry if the site isn't ready to give you the perfect road trip, yet- it is coming! 

		For now, you can get <%= link_to "Back to Home", home_path %> and patiently wait for more updates! 
	</p>