<% provide(:title, "East Coast Dream") %>
<center> 

		<p> East Coast Dream <b> by <u> foobar2016 </u> </b> </p>
<%= image_tag("demo_image.png", :size =>"443x488", :alt=> "map display") %>
</br> </br> </br>
<b>Rating: </b><%= image_tag("stars.png", :size=>"225x35", :alt=> "rating")%>
</center>
<br> 
<center>
<p> <ol> <b> Adventure Breakdown </b> </ol> <p>
<ol>1. Boston, Massachussets. Places to visit include:
	<ul> <u> Barney's Tavern </u> </ul>
	<ul> <u> Harvard Stadium </u></ul>
</ol>
<ol>2. New York, New York. Places to visit include:
	<ul> <u> World Observatory Center </u></ul>
	<ul> <u> Times Square </u></ul>
</ol>
<ol>3. Philadelphia, Pennsylvania. Places to visit include:
	<ul> <u> The Liberty Bell </u></ul>
	<ul> <u> Phil's Cheesesteak Deli </u> </ul>
</ol>
<ol>4. Rohobek Beach, Deleware. Places to visit include:
	<ul> <u> Jason's Shake Shop </u> </ul>
</ol>
<ol>5. Richmond, Virginia. Places to visit include:
	<ul> <u>Sandy's Swing Shack </u> </ul>
	<ul> <u>Virginia Commonwealth Stadium </u> </ul>
	<ul> <u>Grand Forest Hills </u> </ul>
</ol>
<ol>6. Virginia Beach, Virginia. Places to visit include:
	<ul> <a href= "https://www.google.com/maps/place/Mount+Trashmore+Park/@36.8302199,-76.1226688,15z/data=!4m2!3m1!1s0x0:0xec200c9df04ae457?sa=X&sqi=2&ved=0ahUKEwjcz7vboJ3PAhXLNj4KHSzQC4oQ_BIIhQEwDg" target="_blank"><u>Mount Trashmore </u> </a></ul>
	<ul> <u>The Boardwalk </u> </ul>
	<ul> <u>King Trident's Monument </u> </ul>
</ol>
</br>
</br>
<p> <b>Total cost evaluation: </b></br> 
	$100.00 gas + $70.00 food + $350.00 hotel = $520.00 
	</br> 
	<b>Time spent on trip: </b> </br>
	5 days total
</br>

</center>