<h2> Home Page </h2>
<p> This will be the home page. eventually may need to change it to dynamic page with login, popular places, nice background, etc. </p>

<%= link_to "About Page", about_path %>
<p> Should be a link to about page <p>