<% provide(:title, "Home") %>
<!DOCTYPE html>
<div class="center jumbotron">
<h1>
 Welcome 
</h1>
<a href="#" class = "btn btn-lg btn-primary"> Sign up! </a>
</div>
<div class= "image_one jumbotron">
	<a href="pages/about" class = "btn btn-lg btn-primary"> About</a>
</div>
</center>
<p> 
	This will be the home page. eventually may need to change it to dynamic page with login, popular places, nice background, etc.
</p>
