<% provide(:title, "Home") %>
<!DOCTYPE html>
<div class="center jumbotron">
<h1>
 Welcome. 
</h1>
<a href="signup" class = "btn btn-lg btn-primary"> Begin your adventure </a>
</div>
<div class= "image_one jumbotron">
	<a href="pages/about" class = "btn btn-tug btn-lg btn-primary"> About</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	<a href="plan" class = "btn  btn-tug  btn-lg btn-primary"> Plan Your Trip</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	
	
</div>
</center>
