@import"bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;
/*universal*/

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
	padding-top: 60px;
  margin: 100px;
  small{
  padding-top: 200px;
  }
}


section {
overflow: auto;
}

textarea {
	resize: vertical;
}

.jumbotron {
  background-image: url(background_lake.png);
  background-size: cover;
  color: white;
  font-family: "Brush Script MT", cursive;
}
.center {
	text-align:center;
  h1{
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 70px; /*all titles seen*/
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-family: "Brush Script MT", cursive;
  font-size: 1.1em;
  line-height: 1.7em;
}


.btn-login-user{
  color: #7FFF00;
  font-weight: bold;
  background-color: black;
  transition-duration: 0.2s;
  &:hover{
  background-color: #7FFF00;
  color: black;

  }
}

#logo{
  text-align: center;
  float: left;
  display: inline-block;
  margin-right: 20px;
  font-size: 2.0em;
  /*color: #7FFF00;*/ /* LimeGreen */
  font-family: "Brush Script MT", cursive;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 13px;
  font-weight: bold; 
  background-color: transparent;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.header {
  display: inline-block;
	color: #fff;
  z-index: 10; 
  small{
  float: center;
  }
}
.nav {
	font-family: "Brush Script MT", cursive;
	font-size: 1.4em;
	font-weight: bold; 
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  &hover {
    color: #7FFF00;
}
 small{
  float: center;
  }
}

#login-nav {
	font-family: "Brush Script MT", cursive;
	letter-spacing: 2px;
	font-size: 20px;
	color: #000;
	border: 2px solid #fff;
	margin-top: 4px;
	border-radius: 5px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #7FFF00; /* LimeGreen */
	display: inline-block;
  transition-duration: 0.4s;
  &:hover { 
	 color: #7FFF00 !important; /*check if works*/
	 background-color: black !important; 
  }
   small{
  float: center;
  }
}


footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-grey;
  a{
  color: #555;
  &:hover {
  color: #222;
    }
  }
  small{
  float: center;
  }
  ul{
  float: right;
  list-style: none;
  li { 
  float: left;
  margin-left: 15px;
  }
  }
}
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar on users */

aside {
  section.user_info {
  margin-top: 20px;
  }
  section { 
  padding: 10px 0;
  margin-top: 20px;
  &:first-child{
  border: 0;
  padding-top: 0;
  }
  span {
  display: block;
  margin-bottom: 3px;
  line-height: 1;

  }
  h1 {
  font-size: 1.4em;
  text-align: left;
  letter-spacing: -1px;
  margin-bottom: 3px;
  margin-top: 0;
  }
  }
  }

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input{
  height: auto !important;
}

#error-explanation {
  color: red;
  ul{
  color: red;
  margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
  color: red; /* could be $state-danger-text and identify above */
  }
}

.checkbox {
margin-top: -10px;
margin-bottom: 10px;
span{
  margin-left: 20px;
  font-weight: normal;
  }
}

#session_remember_me{
  width: auto;
  margin-left: 0;
}

/* flash setting */

.flashing{
  margin-top: 100px;
}