@import"bootstrap-sprockets";
@import "bootstrap";

$light-grey: #777;
/*universal*/

body {
	padding-top: 60px;
}

section {
overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align:center;
  h1{
    margin-bottom: 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-family: "Brush Script MT", cursive;
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo{
  float: left;
  margin-right: 10px;
  font-size: 2.0em;
  color: #7FFF00; /* LimeGreen */
  font-family: "Brush Script MT", cursive;
  /*text-transform: uppercase;*/
  letter-spacing: -1px;
  padding-top: 25px;
  font-weight: bold;
  &hover {
    color: #fff;
    text-decoration: none;
  }
}

.header {
	color: #fff;
}
.nav {
	font-family: "Brush Script MT", cursive;
	font-size: 1.4em;
	font-weight: bold; 
  &hover {
    color: #7FFF00;
}
}

#login-nav {
	font-family: "Brush Script MT", cursive;
	letter-spacing: 2px;
	font-size: 20px;
	color: #000;
	border: 2px solid #fff;
	margin-top: 5px;
	border-radius: 5px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #7FFF00; /* LimeGreen */
	display: inline-block;
	transition-duration: 0.4s;
  &hover { 
	 color: #7FFF00;
	 background-color: black; 
  }
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-grey;
  a{
  color: #555;
  &:hover {
  color: #222;
    }
  }
  small{
  float: center;
  }
  ul{
  float: right;
  list-style: none;
  li { 
  float: left;
  margin-left: 15px;
  }
  }
}