<footer class = 'footer'>
	<small>
		<center>
			AddVenture is the property of Monique Mezher. Copyright 2016. Website created from inspiration by 
			<a href "http://www.railstutorial.org/"> Rails Tutorial made by Michael Hart 
			</a>
		 </center>
	</small>